---
import Picture from "~/components/core/Picture.astro";
const {} = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 h-[90vh]">
    <div class="py-12 md:py-20">
      <div class="text-center pb-12 md:pb-16 mt-32">
        <h1
          class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter leading-tight mb-4"
        >
          High Performance Website Helps Your
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >Business
          </span> And Improve Your
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
            >Life
          </span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mt-6 mb-8 dark:text-slate-400">
            Making a great website with performance and style in mind is not
            easy. My work is from UI/UX design to full-stack web development.
            Focus on front-end performance helps you grow your business with
            happy customer experiences.
          </p>
          <div class="max-w-none flex justify-center">
            <div>
              <a
                class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/tatoMa"
                target="_blank"
                rel="noopener"
                >CONTACT ME
              </a>
            </div>
            <div>
              <a
                class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="/blog"
                >MY BLOG
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center w-full aspect-[16/10]">
            <iframe
              src="https://my.spline.design/untitled-f332df1ac9eda536017b98e49a41ded4/"
              frameborder="0"
              width="100%"
              height="100%"></iframe>
          </div>
          <p
            class="text-gray-400 animate-bounce text-lg absolute inset-x-0 text-center top-4"
          >
            Try drag and rotate it
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
